<h1>Your lists</h1>

<div id="lists justify-content-end">
  <% @lists.each do |list| %>
    <p><strong><%= list.name %></strong>
    <%= link_to "Show", list_path(list), class: "btn btn-primary" %>
    </p>
  <% end %>

</li>  <h1><%= link_to "New list", new_list_path,  class: "btn btn-primary" %></h1>

</div>
  <%# <%= link_to list_path(list),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
      <%# <i class="fa-solid fa-trash text-danger d-flex justify-content-end"></i> %>
    <%# <% end %>
