// Import page-specific CSS files here.
@import "home";

// header {
//   height:400px;
//   min-height:200px;
//   background-size:cover;
//   background-image:url("https://assets.lls.fr/pages/6903255/PC.1.17.ENT.ProjecteurCinema-retouche.jpg");
// }

// #nav1
// {
//     background-color:#F00; /*whichever you want*/
//     opacity: 0.5;
//     filter:(opacity=50);
// }

.hidden-spacer {
  height: 56px
}

.navbar-inner {
  background-color:transparent;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.footer {
  background: #e4e4e4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: rgb(148, 148, 148);
  border-color: grey;
  border : 2px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(148, 148, 148);
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
