<!-- Image and text -->


<nav class="navbar navbar-expand-sm fixed-top" id="nav1">
    <div class="container">
        <%= link_to lists_path do %>
          <h4><i class="fa-solid fa-house"></i></h4>
        <% end %>

        <i class="fa-solid fa-clapperboard text-primary"></i> <h4>Your Watch Lists</h4>
        <i class="fa-solid fa-clapperboard text-primary"></i>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <%= link_to new_list_path do %>
                    <h3><i class="fa-solid fa-circle-plus text-primary mx-4"></i></h1>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
</nav>
